body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #8fd1fbe2;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.656);
    text-align: center;
}

.container2 {
    max-width: 800px;
    margin: 0 auto;
    background-color: #8fd1fbe2;
    padding: 20px;
    border-radius: 22px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.656);
    text-align: start;
}

.container3 {
    max-width: 800px;
    margin: 0 auto;
    background-color: #0b459de2;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.656);
    text-align: center;
h1 {
        color: #ffffff;
    }
}

h1, h2 {
    text-align: center;
}

h1 {
    color: #333;
}

.post {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

h2 {
    color: #555;
}

p.date {
    color: #999;
    font-style: italic;
}

button {
    padding: 10px 20px;
    background-color: #1483f9; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(42, 40, 40, 0.1); /* Sombra */
}

button:hover {
    background-color: #0457b0; /* Cambiar el color de fondo al pasar el mouse sobre el botón */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Cambiar la sombra al pasar el mouse sobre el botón */
}
