/* Estilos generales */

/* Configuración del cuerpo de la página */
body {
    font-family: Arial, sans-serif; /* Fuente y familia de fuentes para el texto */
    margin: 20px; /* Margen externo */
    padding: 20px; /* Relleno interno */
    background-color: #f4f4f4; /* Color de fondo */
}

/* Estilo para contenedores principales */
.container {
    max-width: 800px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar horizontalmente */
    background-color: #8fd1fbe2; /* Color de fondo */
    padding: 20px; /* Relleno interno */
    border-radius: 2px; /* Bordes redondeados */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.656); /* Sombra */
    text-align: center; /* Alineación del texto al centro */
}

/* Estilo para otro tipo de contenedor */
.container2 {
    max-width: 800px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar horizontalmente */
    background-color: #8fd1fbe2; /* Color de fondo */
    padding: 20px; /* Relleno interno */
    border-radius: 22px; /* Bordes redondeados */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.656); /* Sombra */
    text-align: start; /* Alineación del texto a la izquierda */
}

/* Estilo para otro tipo de contenedor */
.container3 {
    max-width: 800px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar horizontalmente */
    background-color: #0b459de2; /* Color de fondo */
    padding: 20px; /* Relleno interno */
    border-radius: 2px; /* Bordes redondeados */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.656); /* Sombra */
    text-align: center; /* Alineación del texto al centro */
}

/* Estilos para títulos */
h1, h2 {
    text-align: center; /* Alineación del texto al centro */
}

h1 {
    color: #333; /* Color del texto */
}

h2 {
    color: #555; /* Color del texto */
}

/* Estilos para párrafos de fecha */
p.date {
    color: #999; /* Color del texto */
    font-style: italic; /* Estilo de fuente cursiva */
}

/* Estilos para botones */
button {
    padding: 10px 20px; /* Relleno interno */
    background-color: #1483f9; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambio de cursor al pasar sobre el botón */
    box-shadow: 0 2px 4px rgba(42, 40, 40, 0.1); /* Sombra */
}

/* Estilos al pasar el mouse sobre el botón */
button:hover {
    background-color: #0457b0; /* Cambiar el color de fondo al pasar el mouse sobre el botón */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Cambiar la sombra al pasar el mouse sobre el botón */
}
