{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Proveedor</title>
    <link rel="stylesheet" type="text/css" href="{% static 'sgi_app/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Crear Proveedor</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Guardar proveedor</button>
        </form>
        <h1></h1>
        <a href="{% url 'lista_proveedores' %}"><button>Cancelar</button></a>
    </div>
</body>
</html>
