{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Producto</title>
    <link rel="stylesheet" type="text/css" href="{% static 'sgi_app/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Detalle del Producto</h1>
        <p><strong>Nombre:</strong> {{ producto.nombre }}</p>
        <p><strong>Descripción:</strong> {{ producto.descripcion }}</p>
        <p><strong>Proveedor:</strong> {{ producto.proveedor }}</p>
        <p><strong>cantidad disponible:</strong> {{ producto.cantidad_disponible }}</p>
        <p><strong>Precio unitario:</strong> {{ producto.precio_unitario }}</p>
        <p><strong>Fecha de vencimiento:</strong> {{ producto.fecha_vencimiento }}</p>
        <a href="{% url 'actualizar_producto' pk=producto.pk %}"><button>Actualizar</button></a>
        <a href="{% url 'eliminar_producto' pk=producto.pk %}"><button>Eliminar</button></a>
        <a href="{% url 'lista_productos' %}"><button>Volver</button></a>
    </div>
</body>
</html>