{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Pedido</title>
    <link rel="stylesheet" type="text/css" href="{% static 'sgi_app/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Detalle del Pedido</h1>
        <p><strong>Tipo:</strong> {{ pedido.tipo}}</p>
        <p><strong>Proveedor:</strong> {{ pedido.proveedor }}</p>
        <p><strong>Producto:</strong> {{ pedido.producto }}</p>
        <p><strong>cantidad:</strong> {{ pedido.cantidad }}</p>
        <p><strong>Fecha de pedido:</strong> {{ pedido.fecha_pedido }}</p>
        <p><strong>Fecha de entrega:</strong> {{ pedido.fecha_entrega }}</p>
        <a href="{% url 'actualizar_pedido' pk=pedido.pk %}"><button>Actualizar</button></a>
        <a href="{% url 'eliminar_pedido' pk=pedido.pk %}"><button>Eliminar</button></a>
        <a href="{% url 'lista_pedidos' %}"><button>Volver</button></a>
    </div>
</body>
</html>
