{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Producto</title>
    <link rel="stylesheet" type="text/css" href="{% static 'sgi_app/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Eliminar Producto</h1>
        <p>¿Estás seguro de que deseas eliminar el producto "{{ producto.nombre }}"?</p>
        <form action="{% url 'eliminar_producto' producto.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Eliminar</button>
            <h1></h1>
        </form>
        <a href="{% url 'lista_productos' %}"><button>Cancelar</button></a>
        <h1></h1>
    </div>
</body>
</html>
