{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Gestión de inventarios - SGI APP</title>
    <link rel="stylesheet" type="text/css" href="{% static 'sgi_app/styles.css' %}">
</head>
<body>
    <div class="container3">
    <h1>Sistema de Gestión de inventarios - SGI APP</h1>
    </div>
    <h1></h1>
    <div class="container">
        <p>¿Qué deseas gestionar?</p>
        <div class="buttons">
            <a href="{% url 'lista_proveedores' %}">
                <button>Proveedores</button>
            </a>
            <h1></h1>
            <a href="{% url 'lista_productos' %}">
                <button>Productos</button>
            </a>
            <h1></h1>
            <a href="{% url 'lista_pedidos' %}">
                <button>Pedidos</button>
            </a>
            <h1></h1>
        </div>
    </div>
</body>
</html>
